<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="EndtoEnd.listners"/>
  <listener class-name="Resources.ExtentReporterNG"/>
</listeners>
  <test name="Test">
    <classes>
      
      <class name="EndtoEnd.Homepage"/>
       </classes>
  </test>
   <test name="Test1">
    <classes>
      <class name="EndtoEnd.ValidateNavigationBar"/>
      </classes>
  </test>
  <test name="Test2">
    <classes>
      <class name="EndtoEnd.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
